.side
  .side__header
    .side__header__box
      .side__header__box__username
        masa
      %ul.side__header__box__username__menu
        %li.side__header__box__username__menu__new-group
          = link_to "#" , class: "a" do
            = icon('fas', 'edit')
        %li.side__header__box__username__menu__name-edit
          = link_to "#" , class: "b" do
            = icon('fas', 'cog')
  .group  
    .group__name
      teck camp
    .group__chat
      chat menu