* {
  box-sizing: border-box;
}

.wrapper{
  display: flex;
  height: 100vh;
  width: 100vw;

  .side{
    float: left;
    background-color: #2f3e51;
    height: 100vh;
    width: 300px;
  }

  &__header{
    background-color: #253141;
    height: 100px;
    width: 300px;
    align-items: center;
    display: flex;
    padding: 0 20px;
    color: #FFFFFF;

    &__box{
      width: 100%;
      font-weight: bold;
      display: flex;
      clear: both;

      &__username{
        width: 100%;
        display: flex;
      }

      &__header &__menu{
        display: flex;
        justify-content: space-between;
        p{
          color: #ffffff;
          li{
            display: flex;
            color: white;
          
            a{

            }
          }  
        }
      }
    }
  } 

  .chat{
    background-color: #ffffff;
    height: 100vh;
    width: calc(100vw - 300px);
    border-bottom: 1px solid #eeeeee;
    position: relative;

    .chat-message{
      position: absolute;
      background-color: #fafafa;
      height: calc(100vh - 100px);
      width: calc(100vw - 300px);
      overflow: scroll;
      bottom: 0px;

      .chat-message-form{
        position: fixed;
        background-color: #d2d2d2;
        height: 90px;
        width: calc(100vw - 300px);
        bottom: 0px;

      }
    }
  }
}