* {
  box-sizing: border-box;
}

.wrapper{
  display: flex;
  height: 100vh;
  width: 100vw;


  .side-bar__user{
    float: left;
    background-color: #2f3e51;
    height: 100vh;
    width: 300px;
    
    .top-items{

      .top-items__name{

      }
    }
    .side-bar__group-list{
      position: absolute;
      background-color: #253141;
      height: 100px;
      width: 300px;

    } 
  }

  .chat-main__group{
    background-color: #ffffff;
    height: 100vh;
    width: calc(100vw - 300px);
    border-bottom: 1px solid #eeeeee;
    position: relative;

    .chat-main__message{
      position: absolute;
      background-color: #fafafa;
      height: calc(100vh - 90px);
      width: calc(100vw - 300px);
      overflow: scroll;
      bottom: 0px;

      .chat-main__message-form{
        position: fixed;
        background-color: #d2d2d2;
        height: 90px;
        width: calc(100vw - 300px);
        bottom: 0px;

      }
    }
  }
}