* {
  box-sizing: border-box;
}

.wrapper{
  display: flex;
  height: 100vh;
  width: 100vw;

  .side{
    float: left;
    background-color: #2f3e51;
    height: 100vh;
    width: 300px;
    color: white;
  
    &__header{
      background-color: #253141;
      height: 100px;
      width: 300px;
      line-height: 100px;
      padding: 0 20px;
      color: #FFFFFF;
      font-weight: bold;
      
      &__box{        
        justify-content: space-between;

        &__username{
          display: flex;
          float: left;
        
          &__menu{
            display: flex;
            float: right;
              
            li{
              float: right;
              font-size: 16px;
              padding-left: 2px;
              
              a{
                color: white;
              }

              b{
                color: white;
              }
            }      
          }
        }
      }
    } 
    
    .groups{

      .group{  
        height: calc(100vh - 100px);
        background-color: #2f3e51;
        padding: 0 20px;
        
        .none{
          text-decoration: none;

          .group__name{
            font-size: 15px;
            color: white;
            padding-top: 20px;
            padding-bottom: 5px;
          }
        
          .group__chat{
            font-size: 11px;
            color: white;
            padding-bottom: 40px;
          }
        }
      }
    }
  }
    
  .chat{
    
    background-color: #ffffff;
    height: 100vh;
    width: calc(100vw - 300px);
    position: fixed;
    position: relative;
    
    &__name{
      border-bottom: 1px solid #eeeeee;
      font-size: 20px;
      padding: 35px 40px ;
      color: #333333;
      
      
      &__members{
        font-size: 12px;
        color: #999999;
        padding-top: 15px;  
      }
      
      .member{
        display: inline;
      }
    }

    &__edit{
      justify-content: right;
      list-style: none;
      float: right;        
      color: #38AEF0;
      font-size: 16px;
      border: 1px solid;
      padding: 7px 20px;
      margin-top: -69px;

      .c{
        color: #38AEF0;
        text-decoration: none;
      }
    }  
    
    &__message{
      position: absolute;
      box-sizing: border-box;
      background-color: #fafafa;
      height: calc(100vh - 190px);
      width: calc(100vw - 300px);
      bottom: 90px; 
      overflow: scroll;
      
      .message {
        padding-left: 40px;
        margin-top: 46px;

        .upper-message {
          display: flex;
          
          &__user-name {
            color: black;
            font-size: 16px;
            font-weight: bold;
          }

          &__date {
            color: gray;
            font-size: 12px;
            padding-left: 10px;
          }
        }

        .lower-message {
          margin-top: 10px;
          margin-bottom: 40px;
            
          &__content {
            color: black;
            font-size: 14px;
          }
          
          .lower-message__image {
            width: 200px;
            height: 200px;
            object-fit: contain;
          }
        }
      }
    }
  

    &__form{
      position: absolute;
      display: block;
      background-color: #dddddd;
      height: 90px;
      width: calc(100vw - 300px);
      bottom: 0px;
      z-index: 0px;

      &__message {
        position: absolute;
        background-color: white;
        height: 50px;
        top: 20px;
        left: 40px;
        width: calc( 100% - 195px);
        border: none;
      }

      .form__mask {
        position: absolute;
        display: flex;
        float: right;
        font-size: 22px;
        color: black;
        padding-top: 35px;
        right: 167px;
        
        .form__mask__image {
          display: flex;
          cursor: pointer;
          
          .hidden {
            display: none;
          }
        }
      }

      .form__submit {
        position: absolute;
        background-color:  #38AEF0;
        height: 50px;
        width: 100px;
        top: 20px;
        right: 40px;
        float: right;
        display: block;
        text-align: center;
        cursor: pointer;
        line-height: 50px;
        text-align: center;
        color: white;
        font-size: 16px;
      }      
    }
  }
}